.card {
  display: block;
  box-sizing: border-box;
  margin: 5px;
  border: 1px solid #fff;
  border-radius: 3px;
  border-bottom: 1px solid #d1d1d1;
}
.card-heading {
  font-size: 24px;
  color: #fff;
  padding:10px;
  background-color: #c52d2f;
}
.card-body {
  line-height:28px;
  background-color: #fff;
}
.type-button {
    background-color: #c52d2f;
    border: 1px solid #c52d2f;
    color: #fff;
    margin: 0 5px;
    padding: 5px 0;
    font-size: 16px;
    text-align: center;
    border-radius: 3px;
    line-height: 24px;
}
.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background: #89b6d3;
  background: -moz-linear-gradient(left, #89b6d3 10%, rgba(137,182,211, 0) 42%);
  background: -webkit-linear-gradient(left, #89b6d3 10%, rgba(137,182,211, 0) 42%);
  background: -o-linear-gradient(left, #89b6d3 10%, rgba(137,182,211, 0) 42%);
  background: -ms-linear-gradient(left, #89b6d3 10%, rgba(137,182,211, 0) 42%);
  background: linear-gradient(to right, #89b6d3 10%, rgba(137,182,211, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #89b6d3;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #ffffff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.divTable{
  display: table;
  width: 100%;
}
.divTableRow {
  display: table-row;
}
.divTableHeading {
  background-color: #EEE;
  display: table-header-group;
}
.divTableCell, .divTableHead {
  border-top: 1px solid #999999;
  border-left: 1px solid #999999;
  display: table-cell;
  padding: 3px 10px;
}
.divTableHeading {
  background-color: #EEE;
  display: table-header-group;
  font-weight: bold;
}
.divTableFoot {
  background-color: #EEE;
  display: table-footer-group;
  font-weight: bold;
}
.divTableBody {
  display: table-row-group;
}
.divTableCell:last-child{
  border-right: 1px solid #999999;
}
.divTableRow:last-child .divTableCell{
  border-bottom: 1px solid #999999;
}
