.link {
  color: #fff;
}
.link:hover {
  color: #fff;
}
.reg {
  color: #fff;
  background-color: #c52d2f;
}
.logo {
  z-index: 1000;
  position: absolute;
  left:10px;
  width: 10%;
  margin-left: 70px;
}
@media screen and (max-width: 325px){
  .logo {
    width: 30%;
  }
}
@media screen and (min-width: 326px) and (max-width: 600px){
  .logo {
    width: 25%;
  }
}
@media screen and (min-width: 500px) and (max-width: 600px){
  .logo {
    width: 20%;
  }
}
@media screen and (max-width: 1000px){
  .menuItem {
    margin-left: 20px!important;
  }
}
@media screen and (max-width: 768px){
  .menuItem {
    padding-bottom: 14px!important;
  }
}
.dropItem:hover .dropdown-menu {
  display: block;

}