.year-button {
  background-color: #c52d2f;
  border: 1px solid #c52d2f;
  color: #fff;
  margin: 4px 2px;
  padding: 5px 12px;
  font-size: 16px;
  text-align: center;
  border-radius: 3px;
  width: 24%;
  line-height: 24px;
  display: inline-block;
}
.year-button:hover {
   background-color: #ca4f51;
   color: #fff;
}
.year-row {
  margin-bottom: 20px;
}
.flex-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}
.photo {
  margin-top: 10px;
  width: 30%;
  height: 300px;
  position: relative;
  background-size: cover!important;
  background-position: 0% 35%!important;
}
@media (max-width: 600px){
  .photo {
    width: 100%;
  }
  .year-button {
    width: 23.37%;
  }
}

.photo img {
  width: 100%;
}
.single-photo {
  background-size: cover!important;
  background-position: 0% 35%!important;
}
.photoCaption {
  padding: 5px;
  position: absolute;
  bottom:0;
  left: 0; 
  right: 0;
  background: rgba(0,0,0,0.6);
  font-size: 16px;
  color: #fff;
}
