.reqCol input {
  width:100%;
}
.reqCol label {
  width:100%;
  margin: 15px 0 5px 0;
}
.reqCol select {
  width:100%;
}
.reqCol textarea {
  width:100%;
}
.reqBtn {
  margin: 0 auto;
  width:50%;
}