.title {
  margin: 15px;
  padding: 10px;
  line-height: 1.5em;
  background-color: #e3e3e3;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
}
.addedMessage {
  margin: 15px;
  padding: 10px;
  line-height: 1.5em;
  background-color: #8bff8b;
  border: 1px solid #8bff8b;
  border-radius: 3px;
}
.divTableAdmin{
  display: table;
  width: 75%;
  margin-left: 15px;
  padding: 15px;
}