.form {
	background: #f4f4f4;
	margin: 25px;
	padding: 10px;
	border: 1px solid #c9d0d6;
	border-radius: 2px;
}
.formLabel {
	display: block;
	width: 15%;
	float: left;
	margin-bottom: 15px;
}
.formField {
	width: 85%;
	border: 1px solid #c9d0d6;
  border-radius: 3px;
  margin-bottom:15px;
  height: 32px;
}
.selectField {
	width: 30%;
}
.textareaField {
	line-height: 1em;
	height: 150px;
}