#header h1 {
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap;
    color: #cdcdcd;
    margin-right: 20px;
    margin-bottom: 0px;
    padding: 3px 30px 0 30px;
    font-size: 1.3em;
    font-weight: normal;
    line-height: 1.2;
}
#header {
    background-color: #6a7176;
    background-image: linear-gradient(180deg, #6a7176, #4d5256);
    border-bottom: 1px solid #44484b;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
    text-shadow: #000 0 1px 0;
    display: table;
    height: 20px;
    width: 100%;
    overflow: visible;
    position: inherit;
    padding: 5px 0;
    z-index: 900;
}
#header #tabs {
  width: 100%;
}
#header ul.tabs {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    margin: 0;
    padding: 0;
}
#header .header-item {
    top: 2px;
    position: relative;
    height: 20px;
}
#header ul.tabs > li {
    display: inline-block;
    margin-right: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.0em;
    position: relative;
}
#header ul.tabs > li > a.active {
    background: #7b8389;
    color: #fff;
}
#header ul.tabs > li a {
    text-decoration: none;
    padding: 6px 10px 4px 10px;
    position: relative;
    border-radius: 10px;
}
#header a, #header a:link {
    color: #cdcdcd;
}
#header ul.tabs > li a:hover {
    background: #7b8389;
    color: #fff;
}


#header #utility_nav {
    color: #aaa;
    display: table-cell;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    padding-right: 26px;
    text-align: right;
}
#header #utility_nav li {
    display: inline;
}

#header ul.tabs > li {
    display: inline-block;
    margin-right: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.0em;
    position: relative;
}